# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Azure Functions artifacts
bin
obj
appsettings.json
local.settings.json

# Python virtual environment
.venv
venv/
ENV/

# IDE
.vscode/
.idea/

# Test coverage
.coverage
htmlcov/
.pytest_cache/

# OS
.DS_Store
Thumbs.db
